
.navlink div {
  width: 0;
  height: 1.5px;
  margin-top: 2px;
  background-color: var(--secondary-color);
  transition: .5s;
}

.navlink:hover div {
  width: 100%;
}

.navlink a {
  text-decoration: none;
  font-size: var(--small-fs);
  letter-spacing: 1.8px;
  transition: .2s;
  color: var(--primary-color);
}

.navlink a.active {
  color: var(--secondary-color);
}
