.menuModule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px 2%;
}

div > div.menuModule > div {
  color: white;
  font-size: var(--small-fs);
}

.menuModule div button {
  margin: 0 2px;
  font-size: var(--small-fs);
}

.menuModule .activated {
  background-color: white;
  color: var(--primary-color);
  padding: 3px 10px;
  border-radius: 5px;
}

.menuModule h3 {
  color: white;
  font-size: var(--big-fs);
  letter-spacing: 1.8px;
  font-weight: 500;
}

.menuModule button {
  background: none;
  color: white;
  border: none;
  outline: 0;
  font-size: var(--medium-fs);
  cursor: pointer;
  transition: .3s;
  transform: rotate(0deg)
}

button.active {
  transform: rotate(-90deg);
}

.menuItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 2%;
  border-radius: 10px;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}

.menuItem h5 {
  letter-spacing: 1.8px;
  font-weight: 500;
  font-size: var(--small-fs);
}

.menuItem p {
  font-size: 1.1rem;
  text-align: right;
  letter-spacing: 1.8px;
}

.filter h5 {
  font-size: var(--medium-fs);
  font-weight: 700;
  letter-spacing: 1.8px;
  text-align: center;
  margin-bottom: 10px;
}

.filter div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  margin: 0 auto;
}

.filter div label {
  font-size: var(--medium-fs);
  margin-top: 6px;
}

.filter div label input {
  margin-right: 5px;
}

.filter > div:last-of-type {
  margin: 20px auto;
}

.filter > div > button {
  background-color: var(--secondary-color);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  outline: 0;
  font-size: var(--medium-fs);
  letter-spacing: 1.8px;
  border: none;
}

@media screen and (max-width: 640px) {
  .menuModule {
    padding: 10px 4%;
  }

  .menuItem {
    gap: 40px;
    width: 100%;
  }

  .menuModule h3 {
    font-size: var(--medium-fs);
  }

  div > div.menuModule > div {
    font-size: .9rem;
  }

  .menuModule div button {
    font-size: var(--small-fs);
  }
}
