.initModal {
  width: 50%;
  height: 80vh;
  z-index: 1000;
  position: fixed;
  box-shadow: 0px 0px 4px 0px rgb(43, 42, 42);
  top: 50%;
  border-radius: 12px;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.initModal > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: -2px;
  padding: 15px 2% 10px 2%;
  border-bottom: 1px solid #ccc;
}

.modalBtns {
  display: flex;
  gap: 13px;
}

.modalBtns button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--secondary-color) !important;
}

.modalBtns .activated {
  background-color: var(--primary-color) !important;
}

.initModal button {
  cursor: pointer;
  background: none;
  border: 0;
  z-index: 999;
}

.initModal button svg {
  font-size: var(--big-fs);
  color: var(--primary-color);
  font-weight: 400;
}

.promo {
  padding: .8% 0 2% 0;
}

.promo > div:first-of-type {
  text-align: center;
}

.promo div h1 {
  font-size: var(--big-fs);
  color: var(--primary-color);
}

.promo div h2 {
  font-size: var(--medium-fs);
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.promo > div:first-of-type p {
  font-size: 1.2rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 800;
}

.promo > div:first-of-type {
  margin-bottom: 10px;
}

.modalContent {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 2%;
}

.modalContent > div {
  width: 100%;
}

.modalContent > div:first-of-type {
  margin-bottom: 10px;
}

.modalContent > div h3 {
  font-size: var(--big-fs);
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
}

.modalContent > div > div {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.modalContent > div > div > div{
  width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 4px 0px rgb(136, 136, 136);
  padding: 2%;
}

.modalContent div p {
  color: var(--secondary-color);
  font-size: var(--small-fs);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.modalContent img {
  width: 50%;
  max-width: 100px;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 10%));
  background-color: white;
  padding: 16px;
  border-radius: 10px;
}

.open img {
  width: 60%;
  max-width: 200px;
  margin-top: 16px;
}

.open h1 {
  font-size: var(--big-fs);
  color: var(--primary-color);
  margin-bottom: 2px;
}

.open h2 {
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
}

.open p {
  margin-top: 6px;
  letter-spacing: 1.8px;
  color: var(--secondary-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.firstModal {
  height: calc(100% - 50.1px);
}

.firstModal > img {
  object-fit: cover;
  width: 100%;
  position: relative;
  height: 100%;
  filter: grayscale(30%);
}

@media screen and (max-width: 640px) {
  .initModal {
    width: 90%;
    height: 50vh;
  }

  .initModal > div:first-of-type {
    padding-left: 4%;
    padding-right: 4%;
  }

  .modalContent > div h3 {
    font-size: var(--medium-fs);
  }

  .modalContent div p {
    font-size: 1rem;
  }

  .modalContent > div:first-of-type {
    margin-bottom: 0;
  }

  .modalContent img {
    width: 70px;
  }

  .modalContent > div > div {
    flex-direction: column;
  }
}
