.contact {
  display: flex;
  justify-content: center;
  padding: 40px 2%;
}

.contact form div {
  display: flex;
  gap: 18px;
}

.contact form div button {
  background: none;
  border: none;
  font-size: var(--small-fs);
  font-weight: 400;
  cursor: pointer;
  color: var(--primary-color);
  letter-spacing: 1.8px;
}

.contact form div button:nth-of-type(2) {
  border-right: 1px solid var(--primary-color);
  padding: 0 20px;
  border-left: 1px solid var(--primary-color);
}

.contact form h3 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  font-size: var(--medium-fs);
}

.contact form input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  outline: 0;
  margin-top: 5px;
}

.contact form label {
  width: 100%;
  margin-top: 50px;
  font-size: var(--small-fs);
  letter-spacing: 1.8px;
}

.contact form label span {
  color: var(--primary-color);
}

.contact form textarea {
  border: none;
  border-bottom: 1px solid black;
  resize: vertical;
  width: 100%;
  outline: 0;
  margin-top: 5px;
}

.contact form > button {
  background: var(--primary-color);
  outline: 0;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 20px;
  letter-spacing: 1.8px;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .contact form div button:first-of-type {
    margin-top: 10px;
  }

  .contact form div button:nth-of-type(2) {
    border-right: 0;
    padding: 0;
    border-left: 0;
  }

  .contact form div {
    flex-direction: column;
    gap: 10px;
  }
}
