.sixthFlavour {
  margin: 40px 0;
}

.sixthFlavour h3 {
  letter-spacing: 1.8px;
  font-size: var(--medium-fs);
  font-weight: 500;
  margin-bottom: 10px;
}

.sixthFlavour p {
  letter-spacing: 1.8px;
  width: 50%;
  font-size: var(--small-fs);
  text-align: justify;
}

.sixthFlavour > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sixthFlavour > div > div {
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

@media screen and (max-width: 940px) {
  .sixthFlavour > div {
    flex-direction: column;
  }

  .sixthFlavour h3 {
    text-align: center;
  }

  .sixthFlavour p {
    width: 100%;
    margin-bottom: 20px;
  }

  .sixthFlavour > div > div {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .sixthFlavour p {
    padding: 0 2%;
  }
}
